
#content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.first {
    margin: 10px;
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    height: auto;
    width: auto;
}
img{
    width: 400px;
    height: 400px;
}

#search {
    width: 80%;
   height: 50px;
   border-radius: 10px;
   border: 2px solid blue;
}
#dicsearch{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}